.root{
    height: 100%;
    width: 100%;
}

.App{
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center; 
}

.formulario{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.table{
    border: 2px solid black;
}

.buscador{
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.nombre, .email, .cargo, .edad, .telefono{
    height: 100%;
    width: 100%;
}
